/* Establece la imagen de fondo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* Aplica la animación al fondo después de 10 segundos */
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    animation: fadeOut 10s linear 10s forwards;
    pointer-events: none;
    z-index: -1;
}

header {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 1px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f94646;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: rgb(222, 100, 100);
}

footer {
    text-align: center;
    background-color: rgb(222, 100, 100);
    color: #fff;
    padding: 10px 0;
}

.coco {
    width: 80%;
}

/* Estilo base de la clase .coca */
/* CSS para centrar la imagen */
.coca {
    width: 30%;
    border-radius: 50%;
    padding-bottom: 5%;
}

.logo {
    width: 7%;
    border-radius: 50%;
}

.section-description1 {
    padding-bottom: 5%;
}

.Progra {
    width: 205px;
    border-radius: 50%;
    padding-bottom: 5%;
    display: block;
    margin: 0 auto; /* Centra horizontalmente la imagen */
}

.ret {
    padding-bottom: 0px;
}

/* Estilo inicial del menú */
#menu {
    display: none;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    margin: 10px 0;
}

/* Estilo del botón del menú */
#menu-btn {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilo del menú desplegable */
#menu.active {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    z-index: 1;
}

#menu.active ul {
    padding: 10px;
    display: block;
}

#menu.active li {
    margin: 10px 0;
}

/* Ajusta los estilos según el tamaño de la pantalla */
@media (max-width: 768px) {
    .coca {
        width: 60%;
    }
    
    .logo {
        width: 15%;
    }
    
    .section-description1, .Progra {
        padding-bottom: 10%;
    }
}
